body{
    padding: 0;
    margin: 0;
    background-image: url(../Image/detroitCity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(79, 84, 90);
    height: 4px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

html{
    font-family: monospace;
    /*background-image: url(../Image/detroitCity.jpg);
    background-repeat: no-repeat;
    */
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.title{
    text-align: center;
}

.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 35%;
    color: rgba(9, 16, 53, 0.918);
    text-align: center;
}

/*------------------------------------------------------------*/
.container{
    width: 90%;
    height: 80px;
    position: absolute;
    top: 200%;
    left: 3%;
    margin: 0 auto;
    display: flex;
    align-items: last baseline;
    justify-content: left;
}

.left{
    width: 45%;
    height: 600px;
    background-image: url(../Image/detroitPrincess.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.right{
    width: 25%;
    min-height: 400px;
    background-color: rgb(71, 71, 71);
    display: flex;
    position: absolute;
    left: 25%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: rgb(191, 218, 218);
    margin-left: 20px;
    margin-top: 150px;
}

.right h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}

.right p{
    font-size: 20px;
}

.right a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

.button:hover{
    background-color: rgb(103, 116, 111);
}
/*-------------------------------------------------------------*/
.container2{
    width: 90%;
    height: 80px;
    position: absolute;
    top: 300%;
    left: 3%;
    margin: 0 auto;
    display: flex;
    align-items: last baseline;
    justify-content: left;
}

.left2{
    width: 45%;
    height: 600px;
    background-image: url(../Image/Belle_Isle_33.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.right2{
    width: 40%;
    min-height: 400px;
    background-color: rgb(71, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: rgb(191, 218, 218);
    margin-left: -350px;
    margin-top: 150px;
}

.right2 h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}

.right2 p{
    font-size: 20px;
}

.right2 a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

.button2:hover{
    background-color: rgb(103, 116, 111);
}

/*-----------------------------------------------------------*/

.container3{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 400%;
    right: 3%;
    margin: 0 auto;
    display: flex;
    align-items: last baseline;
    justify-content: left;
}

.right3{
    width: 45%;
    height: 600px;
    background-image: url(../Image/riverwalk.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-left: 55%;
}

.left3{
    width: 20%;
    min-height: 100px;
    background-color: rgb(71, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: rgb(191, 218, 218);
    margin-left: -1100px;
    margin-top: 150px;
}

.left3 h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}

.left3 p{
    font-size: 20px;
}

.left3 a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(191, 218, 218);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 8px;
}

.button3:hover{
    background-color: rgb(103, 116, 111);
}

/*---------------------------------------------------*/

.container4{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 450%;
    right: -20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 3px;
    box-sizing: border-box;
    padding: 20px 20px;
}

label{
    font-size: 35px;
    color: rgb(191, 218, 218);
}

.textbox {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.219);
    color: rgb(191, 218, 218);
}